// NavBar Keyframes

@keyframes NavActivate
    from
        height: 0
    to
        height: 60px

// Loading KeyFrames


@keyframes dash
	to
		stroke-dashoffset: 136
	
@keyframes rotate
	100%
		transform: rotate(360deg )

@keyframes textLoad
    from
        opacity: 0
    to
        opacity: 1


// Post-Loading Keyframes

@keyframes postLoad
    from
        opacity: 0
    to
        opacity: 1